<h1>Log in</h1>

<div class="row">
 <p> fuck</p>
</div>

<script>

    var access_token = null;
    const OAUTH_URL = "https://oauth.oit.duke.edu/oauth/authorize.php";

    var getQueryString = function() {
        return "?" + $.param({
                response_type: 'token',
                redirect_uri: '<%=escape_javascript 'http://localhost:3000' %>',
                client_id: 'api-tester2',
                scope: 'basic',
                state: 11291
            });
    };

    var getAccessToken = function() {
        var url = window.location.href;
        var regex = new RegExp("access_token" + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (results == null) return 0;
        return results[2];
    };

    var checkAccessToken = function() {
        access_token = getAccessToken();
        console.log(access_token);
        if (!access_token) {
            window.location.replace(OAUTH_URL + getQueryString());
        }
    };

    $(document).ready(function() {
        checkAccessToken();
    });
</script>