
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Welcome, <%= @user.username %>, your ECE Inventory account has been verified.</h3>
