<html>

<%= render 'preamble' %>

Some of your loans have been returned! Here is information about your returned loans.

<p>
<strong>
<%=@quantity %> <%=@request_items.item.unique_name %> were returned.
</strong>
</p>
</html>
