<!DOCTYPE html>
<html>

<%= render 'preamble' %>


<p>
  Your request was destroyed by <strong> <%= @user.username %> </strong> . Here are the following items of your destroyed request.
</p>

<%= render 'request_info' %>

<%= render 'ending' %>

</body>
</html>
