<!DOCTYPE html>
<html>

<p>
  Your request was edited by <strong> <%= @user.username %> </strong> . Here are the following items of your edited request.
</p>

<%= render 'request_info' %>

<%= render 'ending' %>

</body>
</html>
