<!DOCTYPE html>
<html>
<head>
  <%= @heading %>.
</head>

<body>
<%= @body %>.

<p>
    You made a request!! Here are the following items you requested!
</p>

<%= render 'request_info' %>

<%= render 'ending' %>

</body>
</html>
