<!DOCTYPE html>
<html>

<%= render 'preamble' %>

<p>
  Your request has been denied :(. Here are the following items of the denied request.
</p>

<%= render 'request_info' %>

<p>
  <strong>Reason:</strong>
  <%= @request.response %>
</p>

<%= render 'ending' %>

</body>
</html>
