<tr>
  <td class="text-center"><%= link_to stock.serial_tag, item_stock_path(@item.id, stock.id) %></td>
  <td class="text-center"><%= stock.available %></td>
  <% if is_manager_or_admin? %>
      <td class="text-right"><%= link_to glyph(:pencil), edit_item_stock_path(@item, stock), class: "btn btn-primary" %></td>
  <% else %>
      <td></td>
  <% end %>

  <% if is_admin? %>
      <td class="text-right"><%= link_to glyph(:trash), item_stock_path(@item, stock), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete?"} %></td>
  <% else %>
      <td></td>
  <% end %>
</tr>
