<%= form_for(user) do |f| %>
  
  <%= f.hidden_field :status, :value => "deactivated" %>
	
	<div class="actions">
  	<div class="text-right">
			<%= f.submit "Delete User", data: {confirm: 'Are you sure?'}, class: 'btn btn-xs' %>
		</div>
	</div>
<% end %>
