<%= form_for(user) do |f| %>
  
  <%= f.hidden_field :status, :value => "deactivated" %>

	<div class="">
  	<div class="col-lg-2 col-lg-offset-10">
			<%= f.submit "Delete User", data: {confirm: 'Are you sure?'}, class: 'btn btn-primary btn-xs' %>
		</div>
	</div>
<% end %>
