<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.username, user %>

  <% if is_admin? && !current_user?(user) %>
			<div><%= render 'deactivateuserform', user: user%> </div>


      <div class="text-right"><%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure you want to do this? This is not reversible." } %></div>
  <% end %>
</li>
