<% provide(:title, 'All Users') %>

<div class="center jumbotron">
  <h1>Users</h1>
</div>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.username, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
