<h2 class="page-header">
  <strong> Email Settings </strong> (click to edit)
  <td><%= link_to "Subscribers", subscribers_path, class: "btn btn-primary pull-right" %></td>
</h2>

<p>
    <strong>Email Subject:</strong>
  </p>
  <p>
    <td><%= link_to @settings['email_subject'] + " :click here to edit" , edit_setting_path('email_subject') %></td>
  </p>


  <p>
    <strong>Email Body:</strong>
  </p>
  <p>
    <td><%= link_to @settings['email_body'] + " :click here to edit", edit_setting_path('email_body') %></td>
  </p>

<p>
  <strong>Email Dates:</strong>
</p>
<p>
<td><%= link_to @settings['email_dates'] + + ": click here to edit" , date_selection_path('email_dates') %></td>
</p>

