<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Item Name</th>
			<th class="text-center">Requested for Loan</th>
			<th class="text-center">Requested for Disbursement</th>
			<th></th>
		</tr>
	</thead>

        <tbody>
		<% @request.request_items.each do |req_item| %> 
			<tr>
				<td><%= link_to req_item.item.unique_name, item_path(req_item.item_id) %></td>
				<td class="text-center"><%= req_item.quantity_loan %></td>
				<td class="text-center"><%= req_item.quantity_disburse %></td>
			</tr>
		<% end %>	
	</tbody>
</table>
