<%= form_for(@tag, url: url) do |f| %>
		<% @form_obj = @tag %>
		<% if @form_obj %>
  		<%= render 'shared/error_messages', object: @form_obj %>
		<% end %>


    <div class="form-group">
      <%= f.label :name, "Name", class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control", :placeholder=>"tag" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary btn-block">Create tag</button>
      </div>
    </div>


<% end %>
