<p id="notice"><%= notice %></p>

<table>

  <tbody>
      <tr>
        <%= tag.name %> |
        <%= link_to 'Edit', edit_tag_path(tag) %> |
        <%= link_to 'Destroy', tag, method: :delete, data: {confirm: "Are you sure?"} %>
      </tr>
  </tbody>
</table>


<br>

