<p id="notice"><%= notice %></p>

<table>

  <tbody>
      <tr>
        <th><%= tag.name %></th>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>

