<% provide(:title, 'All Tags') %>

<div class="center_jumbotron">
  <h2 class="page-header">Tags</h2>
</div>


<% @tag = Tag.new %>
<% if @tag %>
	<%= render 'form', { url: nil } %>
<% end %>

<br>
<div class="tags">
	<table class="table table-striped table-hover">
		<tbody>
  		<%= render @tags %>
		</tbody>
	</table>
</div>

<div class="text-center">
	<%= will_paginate %>
</div>
