<%= form_for (request_item) do |f| %>

	<div class="modal-body text-center">
		<h4>Quantity to Convert to Disbursement</h4>
		<%= number_field_tag params[:quantity_to_disburse] %>
	</div>

	<div class="modal-footer">
		<%= f.submit "Submit", class: "btn btn-primary" %>
	</div>
	
<% end %>
