<% provide(:title, 'All Loans') %>

<div class="center_jumbotron">
  <h2 class="page-header">Loans
  </h2>
</div>

<div class="row">
	<div class="col-md-9 col-md-offset-1">
		<% if @loans.any? %>
			<ol class="loans">
				<%= render @loans %>
			</ol>

			<%= will_paginate @loans %>
		<% end %>
	</div>
</div>
