<%= form_for(item) do |f| %>
  
  <%= f.hidden_field :status, :value => "deactive" %>

	<div class="actions">
  	<%= f.submit "Delete Item", data: {confirm: 'Are you sure you want to delete this item?'} %>
	</div>
<% end %>
