<% if is_manager_or_admin? %>
		<div class="center_jumbotron">
			<h2 class="page-header">Editing <strong><%= @item.unique_name %></strong></h2>
		</div>

    <%= render 'edititemform', item: @item %>

<% else %>
    <%= controller.redirect_to items_path %>
<% end %>
