<% if is_manager_or_admin? %>
    <h1>Editing Item Quantity</h1>

    <%= render 'quantitychangedform', item: @item %>

   <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn-default btn-lg btn-block">Submit</button>
      </div>
    </div>

   <%= link_to 'Back', :back %>
<% else %>
    <%= controller.redirect_to items_path %>
<% end %>
