<% if is_manager_or_admin? %>
    <h1>Editing Item</h1>

    <%= render 'noquantityform', item: @item %>

    <%= link_to 'Show', @item %> |
    <%= link_to 'Back', :back %>
<% else %>
    <%= controller.redirect_to items_path %>
<% end %>
