<% provide(:title, 'All Items') %>

<%= link_to "New Item", new_item_url, :class => "btn btn-primary" %>

<div class="center jumbotron">
  <h1>Items</h1>
</div>


<%= will_paginate %>

<ul class="items">
  <%= render @items %>
</ul>

<%= will_paginate %>

