<% provide(:title, 'All Items') %>


<%= render 'searchform' %>

<%= render 'min_stock_form', item: @items %>

<a href="#" onclick="selectAll()">Select All</a>
<a href="#" onclick="selectNone()">Select None</a>








