<%= form_for(@subscriber, url: url) do |f| %>
    <% @form_obj = @subscriber %>
    <% if @form_obj %>
        <%= render 'shared/error_messages', object: @form_obj %>
    <% end %>

    <%= button_to "Add yourself to Subscriber list", :action => "new" %>

    <%= button_to 'Destroy', @subscriber, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary"%></div>

<% end %>
