<p id="notice"><%= notice %></p>

<table>

  <tbody>
  <tr>
    <h>

    </h>
    <%= link_to 'Edit', edit_subscriber_path(subscriber) %> |
    <%= link_to 'Destroy', subscriber, method: :delete, data: {confirm: "Are you sure?"} %>
  </tr>
  </tbody>
</table>


<br>

