<% provide(:title, 'All Tags') %>

<div class="center_jumbotron">
  <h2 class="page-header">Subscribers</h2>
</div>

<%= render 'form'%>

<div class="subscribers">
  <table class="table table-striped table-hover">
    <thead>
      <tr><th>Current Subscribers</th></tr>
    </thead>
    <tbody>
	<%= render @subscribers %>
    </tbody>
  </table>
</div>

<div class="text-center"><%= will_paginate %></div>
