// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-items-display-link {
  cursor: pointer;
}

.users-request-display-link {
  cursor: pointer;
}

.users-request-display {
  display: none;
  overflow: auto;
  max-height: 900px;
}

.users-items-display {
  display: block;
  overflow: auto;
  max-height: 500px;
}


