<%# app/views/logs/index.html.erb %>
<% provide(:title, 'Logs') %>

<div class="center_jumbotron">
	<h4 class="pull-right">
		<%= link_to "Search Logs", '#', id: 'search-log-link' %><br>
	</h4>
	<h2 class="page-header">Logs</h2>
</div>

<%= render 'searchlogform' %>

<div class="row">

    <% if @logs.any? %>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Time</th>
						<th>Initiator</th>
						<th>Object Affected</th>
						<th>Action</th>
						<th>Affected User</th>
						<th></th>
					</tr>	
				</thead>
				<tbody>
          <%= render @logs %>
				</tbody>
			</table>

      <div class="text-center"><%= will_paginate @logs %></div>

    <% end %>

    <br>

</div>
