<% provide(:title, 'Request-Items') %>

<div class="center jumbotron">
  <h1>LAWL</h1>
</div>

<!--<%= will_paginate %>-->

<ul class="ri">
  <%= will_paginate @request_items %>
</ul>

<!--<%= will_paginate %>-->
